.button {
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: 2;
	padding: 0.5rem 2rem;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s;
	transition-property:
		background-color,
		color;
}
