.body {
	margin-top: 5rem;

	a {
		color: var(--palette-blue);

		&:hover {
			color: var(--palette-light-blue);
		}
	}

	> *:not(:first-child) {
		margin-top: 3rem;
	}

	h3 {
		margin-top: 8rem;
	}

	h4 {
		margin-top: 3rem;

		+ p {
			margin-top: 1rem;
		}
	}

	ol,
	ul {
		list-style-type: square;
	}

	.pull-left,
	.pull-right {
		--pull-size: 40rem;

		height: var(--pull-size);
		position: relative;
		width: var(--pull-size);

		img {
			object-fit: contain;
		}

		@media (max-width: 1000px) {
			--pull-size: 20rem;
		}
	}

	.pull-left {
		display: flex;
		float: left;
		margin: 2rem;
		margin-left: calc((var(--pull-size) / 2) * -1);
	}

	.pull-right {
		display: flex;
		float: right;
		margin: 2rem;
		margin-right: calc((var(--pull-size) / 2) * -1);
	}
}

.page-section {
	gap: 0 !important;
	max-width: 80ch;

	> * {
		width: 100%;
	}
}
